/* importing required fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Styling Color Changer Button */

#ColorChanger{
    position: absolute;
    width: fit-content;
    font-size: smaller;
    zoom: 0.8;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
    bottom: 0;
}

/* Styling Points Bar */

.PointsBar{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
    margin-top: 0.6em;
}

.Points{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.TeamName{
    font-weight: bold;
    padding-right: 0.5em;
}

/* Styling Game Title */

.GameName{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* Styling for the Game Box */

.GameContainer{
    display: grid;
    grid-template-columns: repeat(3 , 10vw);
    grid-template-rows: repeat(3 , 10vw);
    position: relative;
}

/* Styling the line that appears on winning */

.WinLine{
    height: 0.15em;
    width: 0;
    background: #000;
    position: absolute;
    transition: width 0.3s ease-in;
}

.MainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for each box of the Grid */

.Box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    cursor: pointer;
    border: 2px solid black;
}


/* Styling for Game information bar */

.GameInfo{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 1em;
}

.TurnInfo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vw;
    margin-top: 0.5em;
    font-weight: bold;
    /* animation: scale ease-in 2s 3; */
    align-self: center;
    opacity: 0.8;
}

@keyframes scale {
    0%{
        opacity: 0.6;
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0.8;
    }
}

/* Styling surprise Win POP-UP */

/* for Phone */
.congratulate{
    font-size: 6em;
    text-align: center;
    height: 0;
    transition: height 0.6s ease-in;
    overflow: hidden;
}

/* for Web */
.WinPopUp{
    position: absolute;
    left: 1em;
    bottom: 0;
    height: 19em;
    overflow: hidden;
}

.WinPopUpImg{
    transform: translateY(19em);
    transition: transform 0.4s ease-in;
    height: 100%;
}

/* Styling Reset Button */

#GameReset{
    align-self: flex-end;
}
